<!-- src/app/features/auth/signup/signup.component.html -->
<div class="signup-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter your username" />
      <mat-error *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid">
        <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required.</div>
        <div *ngIf="signupForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      <mat-error *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
        <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
        <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sélectionner un pays" formControlName="country"
        (selectionChange)="onCountryChange($event)">
        <mat-select-trigger>
          <img [src]="'assets/img/flags/' + selectedCountry + '.png'" alt="{{ getCountryName(selectedCountry) }}"
            class="country-flag" *ngIf="selectedCountry" />
          <span class="custom-option">{{ getCountryName(selectedCountry) || 'Sélectionner un pays' }}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let country of countries" [value]="country.code">
          <img [src]="'assets/img/flags/' + country.code + '.png'" alt="{{ country.name }}" class="country-flag" />
          <span class="custom-option">{{ country.name }}</span>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="signupForm.get('country')?.touched && signupForm.get('country')?.invalid">
        <div *ngIf="signupForm.get('country')?.errors?.['required']">Country is required.</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" />
      <mat-error *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
        <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
        <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.
        </div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm your password" />
      <mat-error *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid">
        <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirmation password is required.</div>
        <div *ngIf="signupForm.get('confirmPassword')?.errors?.['mismatch']">Passwords do not match.</div>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
</div>
