<div>
  <mat-sidenav-container>
    <!-- Sidenav en mode "side" pour éviter le fond grisé -->
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <!-- Liste des projets dans la sidenav -->
        <mat-list-item *ngFor="let project of filteredProjects" (click)="selectProject(project)">
          {{ project.name }}
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <!-- Toolbar avec le bouton pour basculer la sidenav -->
        <mat-toolbar color="primary">
          <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Carte des projets</span>
        </mat-toolbar>

        <!-- Carte Leaflet -->
        <div id="map" leaflet style="height: 100vh" [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>