<app-intl-formatter></app-intl-formatter>
<mat-grid-list cols="1" rowHeight="20vh" class="audio-container">
  <mat-grid-tile>
    <div class="mat-app-background">
      <h3><span i18n>Lecteur Audio</span></h3>
      <p i18n>Test d'accès storage fichiers audio avec url présignée</p>

      <p *ngIf="loading()" i18n>Chargement de l'URL audio...</p>
      <div class="player-controls-wrapper">
        <ngx-audio-player *ngIf="audioUrl()" [autoPlay]="false" muted="muted" [playlist]="mssapPlaylist"
          [disablePositionSlider]="mssapDisablePositionSlider" [displayRepeatControls]="mssapDisplayRepeatControls"
          [displayVolumeControls]="mssapDisplayVolumeControls" [displayVolumeSlider]="mssapDisplayVolumeSlider"
          [displayTitle]="mssapDisplayTitle" (trackEnded)="onEnded($event)">
        </ngx-audio-player>
      </div>

      <div class="audio-download-container" @if(audioUrl())>
        <a [href]="audioUrl()" download (click)="onDownload()">
          <button mat-icon-button class="download-button">
            <mat-icon>download</mat-icon>
          </button>
        </a>
        <div>
          <label for="volume-control" [ngStyle]="volumeLabelStyle">
            Volume: {{ volume() }}%
          </label>
          <input type="range" id="volume-control" min="0" max="100" [value]="volume()" (input)="onVolumeChange($event)">
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list hide-xs [cols]="cols" rowHeight="4:1" gutterSize="1" class="mat-app-background">
  <mat-grid-tile class="test-tile-green">1</mat-grid-tile>
  <mat-grid-tile class="test-tile-green">2</mat-grid-tile>
  <mat-grid-tile class="test-tile-green">3</mat-grid-tile>
  <mat-grid-tile class="test-tile-green">4</mat-grid-tile>
  <mat-grid-tile class="test-tile-green">5</mat-grid-tile>
  <mat-grid-tile class="test-tile-green">6</mat-grid-tile>
</mat-grid-list>