<mat-list class="mat-typography app-frame mat-app-background">
  <h5 mat-subheader>Playground traductions</h5>
  <p>Langue actuelle : {{ currentLang }}</p>
  <p>{{ 'HOME.HELLO' | translate: { value: (username$ | async)?.user_metadata?.['full_name'] || 'inconnu' } }}
  <p>{{ 'HOME.DESCRIPTION' | translate }}</p>
  <p>Date formatée : {{ formattedDate }}</p>
  <p>Devise formatée : {{ formattedCurrency }}</p>
  <button mat-button (click)="switchLanguage()">{{ 'HOME.BUTTON_SWITCH' | translate }}</button>
</mat-list>
